@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");

 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }   


body{
     /* background: rgb(24,0,36);
    background: linear-gradient(90deg,
              rgba(24,0,36,1) 0%,
              rgba(143,122,153,1) 0%,
              rgba(120,99,131,1) 0%,
              rgba(133,112,144,1) 0%,
              rgba(153,132,163,1) 0%,
              rgba(149,127,162,1) 99%);  */
              background-color: black;
              

#box{
    width: 400px;
    height: 400px;
    border: 1px solid black;
     background-image: url(ms\ 42\ copy.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 200px 50% 200px 50%;
    box-shadow: 2px 2px 15px  #fec86a;
    margin: auto; 
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color:  #ededed;
    text-decoration: none; 
    font-weight: 600;

}
.navbar a{
    font-size: 18px;
    color: gray;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover{
    color: white;
    transition: 0.2s;
}



.home{
    height: 100vh ;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #fec86a;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px ;
    color: white;

}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 0vh;
    text-decoration: none;
  }
  .socials a:hover{
    color: #00abf0;

  }

  .socials a {
    color: #fbfbfb;
    font-size: 36px;
    text-decoration: none;
  }
  .about {
    height: 50vh;
    width: 100vw;
    padding: 15px;
  }
  
  .about h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
  }
  
  .about .description {
    display: flex;
    align-items: start;
  }
  
  .about .description .line {
    height: 2.5px;
    width: 100px;
    background-color: #fec86a;
    margin-right: 32px;
  }
  
  .about .description p {
    color: #fbfbfb;
    font-size: 20px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
  }
  
  .skills h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
  }
  
  .cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2.5vh;
  }
  
  .skill-card {
    height: 20vw;
    width: 20vw;
    background-color: #3d3e42;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
  }
  
  .skill-card:hover {
    background-color: #fec86a;
  }
  
  .skill-card img {
    height: 7.5vw;
    width: 7.5vw;
    object-fit: contain;
  }
  
  .skill-card h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
  }
  
  .portfolio h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
  }
  
  .portfolio-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    gap: 2.5vh;
  }
  
  .portfolio-card {
    position: relative;
    height: 30vw;
    width: 30vw;
    background-color: #3d3e42;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
  }
  
  .portfolio-card img {
    position: relative;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
  }
  
  .portfolio-card .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 30vw;
    width: 30vw;
    background-color: #34353ba2;
    align-items: center;
    justify-content: center;
    padding: 24px;
    opacity: 0;
    transition: all ease 0.5s;
  }
  
  .portfolio-card .overlay h3 {
    color: #fbfbfb;
    font-size: 24px;
  }
  
  .portfolio-card .overlay p {
    color: #fbfbfb;
    font-size: 16px;
    text-align: center;
  }
  
  .portfolio-card .overlay button {
    height: 36px;
    width: 108px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 12px;
    transition: all ease 0.5s;
    cursor: pointer;
  }
  
  .portfolio-card .overlay:hover {
    opacity: 1;
  }
  
  .portfolio button {
    margin-top: 50px;
    height: 48px;
    width: 144px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  
  .portfolio button:hover {
    background-color: #cc9e4e;
  }

  .experience {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .darker-div {
    background-color: #34353a;
    width: 100vw;
    height: 10vh;
  }
  
  .experience h1 {
    position: absolute;
    color: #fbfbfb;
    font-size: 56px;
    font-family: "Libre Baskerville", serif;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 15%;
  }
  
  .lighter-div {
    background-color: #3d3e42;
    width: 100vw;
    /* height: 90vh; */
    padding: 10vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .lighter-div .exp {
    height: 30vh;
    width: 50vw;
    position: relative;
    margin-left: 20vh;
  }
  
  .exp h2 {
    color: #fbfbfb;
    font-size: 32px;
    font-weight: 400;
  }
  
  .exp h2::before {
    content: "";
    height: 20px;
    width: 20px;
    color: #fec86a;
    background-color: #fec86a;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 7.5%;
    left: -5%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px #fec86a;
  }

  .contact-me {
    width: 100vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-me h1 {
    font-size: 56px;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
  }
  
  .contact {
    display: flex;
    gap: 24px;
  }
  
  .contact-card {
    background-color: #fec86a;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-top: 7.5vh;
  }